<table
  width="100%"
  align="center"
  border="0"
  cellspacing="0"
  cellpadding="0"
  bgcolor="#ffffff"
>
  <tbody>
    <tr>
      <td
        align="left"
        valign="top"
        style="font-size: 14px; line-height: 21px; font-weight: bold"
      >
        Panduan pembayaran Melalui ATM:
      </td>
    </tr>
    <tr>
      <td
        valign="top"
        style="
          font-family: Helvetica, 'Arial', sans-serif;
          color: #000000;
          font-size: 11px;
        "
      >
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td
                align="left"
                valign="top"
                style="font-size: 12px; line-height: 21px"
              >
                <ul>
                  <li>
                    LANGKAH 1: TEMUKAN ATM TERDEKAT
                    <ol>
                      <li>Masukkan Kartu ATM BCA</li>
                      <li>Masukkan PIN</li>
                    </ol>
                  </li>
                </ul>
                <ul>
                  <li>
                    LANGKAH 2: DETAIL PEMBAYARAN
                    <ol>
                      <li>Pilih menu "Transaksi Lainnya"</li>
                      <li>Pilih menu "Transfer"</li>
                      <li>Pilih menu "ke Rekening BCA Virtual Account"</li>
                      <li>
                        Masukkan Nomor Virtual Account Anda <%= va_number %>. Tekan "Benar" untuk melanjutkan
                      </li>
                      <li>
                        Di halaman konfirmasi, pastikan detil pembayaran sudah
                        sesuai seperti No VA, Nama, Perus/Produk dan Total
                        Tagihan, tekan "Benar" untuk melanjutkan
                      </li>
                      <li>Pastikan nama kamu dan Total Tagihannya benar</li>
                      <li>Tekan "Ya" jika sudah benar</li>
                    </ol>
                  </li>
                </ul>
                <ul>
                  <li>
                    LANGKAH 3: TRANSAKSI BERHASIL
                    <ol>
                      <li>Transaksi Anda telah selesai</li>
                      <li>
                        Setelah transaksi anda selesai, invoice ini akan
                        diupdate secara otomatis. Proses ini mungkin memakan
                        waktu hingga 5 menit
                      </li>
                    </ol>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table
  width="100%"
  align="center"
  border="0"
  cellspacing="0"
  cellpadding="0"
  bgcolor="#ffffff"
>
  <tbody>
    <tr>
      <td
        align="left"
        valign="top"
        style="font-size: 14px; line-height: 21px; font-weight: bold"
      >
        Panduan pembayaran Melalui IBanking:
      </td>
    </tr>
    <tr>
      <td
        valign="top"
        style="
          font-family: Helvetica, 'Arial', sans-serif;
          color: #000000;
          font-size: 11px;
        "
      >
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td
                align="left"
                valign="top"
                style="font-size: 12px; line-height: 21px"
              >
                <ul>
                  <li>
                    LANGKAH 1: MASUK KE AKUN ANDA
                    <ol>
                      <li>
                        Lakukan log in pada aplikasi KlikBCA Individual
                        (https://ibank.klikbca.com)
                      </li>
                      <li>Masukkan User ID dan PIN</li>
                    </ol>
                  </li>
                </ul>
                <ul>
                  <li>
                    LANGKAH 2: DETAIL PEMBAYARAN
                    <ol>
                      <li>
                        Pilih "Transfer Dana", kemudian pilih "Transfer ke BCA
                        Virtual Account"
                      </li>
                      <li>
                        Masukkan Nomor Virtual Account <%= va_number %>
                      </li>
                      <li>Pilih "Lanjutkan"</li>
                      <li>
                        Masukkan "RESPON KEYBCA APPLI 1" yang muncul pada Token
                        BCA anda, kemudian tekan tombol "Kirim"
                      </li>
                    </ol>
                  </li>
                </ul>
                <ul>
                  <li>
                    LANGKAH 3: TRANSAKSI BERHASIL
                    <ol>
                      <li>Transaksi Anda telah selesai</li>
                      <li>
                        Setelah transaksi anda selesai, invoice ini akan
                        diupdate secara otomatis. Proses ini mungkin memakan
                        waktu hingga 5 menit
                      </li>
                    </ol>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>

<table
  width="100%"
  align="center"
  border="0"
  cellspacing="0"
  cellpadding="0"
  bgcolor="#ffffff"
>
  <tbody>
    <tr>
      <td
        align="left"
        valign="top"
        style="font-size: 14px; line-height: 21px; font-weight: bold"
      >
        Panduan pembayaran Melalui MBanking:
      </td>
    </tr>
    <tr>
      <td
        valign="top"
        style="
          font-family: Helvetica, 'Arial', sans-serif;
          color: #000000;
          font-size: 11px;
        "
      >
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td
                align="left"
                valign="top"
                style="font-size: 12px; line-height: 21px"
              >
                <ul>
                  <li>
                    LANGKAH 1: MASUK KE AKUN ANDA
                    <ol>
                      <li>Buka aplikasi BCA Mobile</li>
                      <li>
                        Pilih menu "m-BCA", kemudian masukkan kode akses m-BCA
                      </li>
                    </ol>
                  </li>
                </ul>
                <ul>
                  <li>
                    LANGKAH 2: DETAIL PEMBAYARAN
                    <ol>
                      <li>
                        Pilih "m-Transfer", kemudian pilih "BCA Virtual Account"
                      </li>
                      <li>
                        Masukkan Nomor Virtual Account <%= va_number %>
                      </li>
                      <li>
                        Tekan tombol "Kirim" yang berada di sudut kanan atas
                        aplikasi untuk melakukan transfer
                      </li>
                      <li>Tekan "OK" untuk melanjutkan pembayaran</li>
                      <li>Masukkan PIN Anda untuk meng-otorisasi transaksi</li>
                    </ol>
                  </li>
                </ul>
                <ul>
                  <li>
                    LANGKAH 3: TRANSAKSI BERHASIL
                    <ol>
                      <li>Transaksi Anda telah selesai</li>
                      <li>
                        Setelah transaksi anda selesai, invoice ini akan
                        diupdate secara otomatis. Proses ini mungkin memakan
                        waktu hingga 5 menit
                      </li>
                    </ol>
                  </li>
                </ul>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>