<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold"> Panduan pembayaran Melalui ATM: </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: TEMUKAN ATM TERDEKAT 
                                        <ol>
                                            <li>Masukkan kartu, kemudian pilih bahasa dan masukkan PIN anda</li>
                                            <li>Pilih "Transaksi Lain" dan pilih "Pembayaran"</li>
                                            <li>Pilih menu "Lainnya" dan pilih "Briva"</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN 
                                        <ol>
                                            <li>Masukkan Nomor Virtual Account {{ $va_number }} dan jumlah yang ingin anda bayarkan</li>
                                            <li>Periksa data transaksi dan tekan "YA"</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL 
                                        <ol>
                                            <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold"> Panduan pembayaran Melalui IBanking: </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: MASUK KE AKUN ANDA 
                                        <ol>
                                            <li>Buka situs https://ib.bri.co.id/ib-bri/, dan masukkan USER ID dan PASSWORD anda</li>
                                            <li>Pilih "Pembayaran" dan pilih "Briva"</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN 
                                        <ol>
                                            <li>Masukkan Nomor Virtual Account {{ $va_number }} dan jumlah yang ingin anda bayarkan</li>
                                            <li>Masukkan password anda kemudian masukkan mToken internet banking</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL 
                                        <ol>
                                            <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
