<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold">Panduan pembayaran Melalui ATM:</td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: TEMUKAN ATM TERDEKAT
                                        <ol>
                                            <li>Masukkan kartu ATM BSI anda</li>
                                            <li>Masukkan PIN</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN
                                        <ol>
                                            <li>Pilih menu "Pembayaran/Pembelian"</li>
                                            <li>Pilih menu "Institusi"</li>
                                            <li>Masukkan kode BSI VA Nomor Virtual Account: {{ $va_number }}</li>
                                            <li>Detail yang ditampilkan: NIM, Nama, & Total Tagihan</li>
                                            <li>Konfirmasi detail transaksi anda</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL
                                        <ol>
                                            <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold">Panduan pembayaran Melalui IBanking:</td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: MASUK KE AKUN ANDA
                                        <ol>
                                            <li>Buka situs <a href="https://bsinet.bankbsi.co.id">https://bsinet.bankbsi.co.id</a></li>
                                            <li>Masukkan User ID dan Password</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN
                                        <ol>
                                            <li>Pilih Menu “Pembayaran”</li>
                                            <li>Pilih Nomor Rekening BSI Anda</li>
                                            <li>Pilih menu "Institusi"</li>
                                            <li>Masukkan nama institusi Xendit (kode 9347)</li>
                                            <li>Masukkan Nomor Virtual Account tanpa diikuti kode institusi: {{ $va_number }}</li>
                                            <li>Konfirmasi detail transaksi anda</li>
                                            <li>Masukkan otentikasi transaksi/token</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL
                                        <ol>
                                            <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold">Panduan pembayaran Melalui MBanking:</td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: MASUK KE AKUN ANDA
                                        <ol>
                                            <li>Buka aplikasi BSI Mobile</li>
                                            <li>Masukkan User ID dan Password</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN
                                        <ol>
                                            <li>Pilih Menu “Pembayaran”</li>
                                            <li>Pilih Nomor Rekening BSI Anda</li>
                                            <li>Pilih menu "Institusi"</li>
                                            <li>Masukkan Nomor Virtual Account tanpa diikuti kode institusi: {{ $va_number }}</li>
                                            <li>Konfirmasi detail transaksi anda</li>
                                            <li>Masukkan otentikasi transaksi/token</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL
                                        <ol>
                                            <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
