<tr></tr>
    <td style="padding:30px;background:#360B36;">
        <table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;font-size:9px;font-family:Helvetica,sans-serif;">
            <tr>
                <td style="padding:0;width:50%;" align="left">
                    <p style="margin:0;font-size:14px;line-height:18px;font-family:Helvetica,sans-serif;color:#ffffff;">
                        © Astra Car Valuation
                    </p>
                </td>
                <!--Social media Hide dulu, belum ada
                    <td style="padding:0;width:50%;" align="right" style="text-align: right;">
                        <table role="presentation" style="border-collapse:collapse;border:0;border-spacing:0;">
                        <tr>
                            <td style="padding:0 0 0 10px;width:38px;">
                            <a href="http://www.instagram.com/" style="color:#ffffff;"><img src="https://i.ibb.co/MVRFyys/ic-ig.png" alt="Instagram" width="38" style="height:auto;display:block;border:0;" /></a>
                            </td>
                            <td style="padding:0 0 0 10px;width:38px;">
                            <a href="http://www.facebook.com/" style="color:#ffffff;"><img src="https://i.ibb.co/hXKsfyw/ic-fb.png" alt="Facebook" width="38" style="height:auto;display:block;border:0;" /></a>
                            </td>
                        </tr>
                        </table>
                    </td>
                    -->
            </tr>
        </table>
    </td>
</tr>