<tr></tr>
    <td background="https://acvblobstorage.blob.core.windows.net/content/banner/acv-background.png" bgcolor="#360B36" valign="top" height="150" width="600">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td style="padding: 30px; border-bottom: 3px solid #360B36;">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td align="center" style="text-align: center;">
                                <a href="#" target="_blank">
                                    <img src="https://acvblobstorage.blob.core.windows.net/content/banner/acv-logo.png" style="margin-bottom: 10px;" height="40" border="0" alt="" />
                                </a>
                                <h1 style="margin:0;color: #ffffff;"><%= title %></h1>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>