<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold"> Panduan Pembayaran Melalui ATM Mandiri: </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: TEMUKAN ATM TERDEKAT 
                                        <ol>
                                            <li>Masukkan ATM dan tekan "Bahasa Indonesia"</li>
                                            <li>Masukkan PIN, lalu tekan "Benar"</li>
                                            <li>Pilih "Pembayaran", lalu pilih "Multi Payment"</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN 
                                        <ol>
                                            <li>Masukkan kode perusahaan "88908" (88908 XENDIT) untuk closed amount VA dan ‘88608’ (88608 XENDIT) untuk open amount VA, lalu tekan "BENAR"</li>
                                            <li>Masukkan Nomor Virtual Account <%= va_number %>, lalu tekan "BENAR"</li>
                                            <li>Untuk open amount VA, masukkan nominal yang ingin di transfer, lalu tekan "BENAR"</li>
                                            <li>Informasi pelanggan akan ditampilkan, pilih nomor 1 sesuai dengan nominal pembayaran kemudian tekan "YA"</li>
                                            <li>Konfirmasi pembayaran akan muncul, tekan "YES" untuk melanjutkan</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL 
                                        <ol>
                                            <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold"> Panduan Pembayaran Melalui Internet Banking Mandiri: </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: MASUK KE AKUN ANDA 
                                        <ol>
                                            <li>Buka situs Mandiri Internet Banking https://ibank.bankmandiri.co.id</li>
                                            <li>Masuk menggunakan USER ID dan PASSWORD anda</li>
                                            <li>Buka halaman beranda, kemudian pilih "Pembayaran"</li>
                                            <li>Pilih "Multi Payment"</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN 
                                        <ol>
                                            <li>Pilih 88908 XENDIT (untuk closed VA) dan 88608 XENDIT (untuk open VA) sebagai penyedia jasa</li>
                                            <li>Masukkan Nomor Virtual Account <%= va_number %></li>
                                            <li>Lalu pilih Lanjut</li>
                                            <li>Apabila semua detail benar, tekan "KONFIRMASI"</li>
                                            <li>Masukkan PIN / Challenge Code Token</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold"> Panduan Pembayaran Melalui Mobile Banking Mandiri: </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: MASUK KE AKUN ANDA 
                                        <ol>
                                            <li>Buka aplikasi Mandiri Online, masukkan USERNAME dan PASSWORD anda</li>
                                            <li>Pilih "Bayar"</li>
                                            <li>Pilih "Multipayment"</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN 
                                        <ol>
                                            <li>Pilih 88908 XENDIT (untuk closed VA) dan 88608 (untuk open VA) sebagai penyedia jasa</li>
                                            <li>Masukkan Nomor Virtual Account <%= va_number %></li>
                                            <li>Tekan Lanjut</li>
                                            <li>Tinjau dan konfirmasi detail transaksi anda, lalu tekan Konfirmasi</li>
                                            <li>Selesaikan transaksi dengan memasukkan MPIN anda</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL 
                                        <ol>
                                            <li>Setelah transaksi anda selesai, invoice ini akan diupdate secara otomatis. Proses ini mungkin memakan waktu hingga 5 menit</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
