<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold"> Panduan pembayaran Melalui ATM: </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: TEMUKAN ATM TERDEKAT 
                                        <ol>
                                            <li>Masukkan kartu ATM dan PIN anda</li>
                                            <li>Pilih menu TRANSAKSI LAINNYA → TRANSFER → TRANSFER KE BANK SAHABAT SAMPOERNA</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN 
                                        <ol>
                                            <li>Masukkan 16 digit nomor rekening virtual account <%= va_number %></li>
                                            <li>Masukkan nominal pembayaran</li>
                                            <li>Cek kembali transaksi anda, lalu pilih YA untuk melanjutkan</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL 
                                        <ol>
                                            <li>Pembayaran melalui ATM sukses dilakukan</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold"> Panduan pembayaran Melalui IBanking: </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: MASUK KE AKUN ANDA 
                                        <ol>
                                            <li>Login akun Internet Banking pada handphone anda</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN 
                                        <ol>
                                            <li>Pilih menu TRANSFER DANA → TRANSFER KE REKENING BANK SAHABAT SAMPOERNA</li>
                                            <li>Masukkan 16 digit nomor rekening virtual account <%= va_number %></li>
                                            <li>Masukkan nominal pembayaran</li>
                                            <li>Input token i-Banking anda</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL 
                                        <ol>
                                            <li>Pembayaran melalui i-Banking sukses dilakukan</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>

<table width="100%" align="center" border="0" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
    <tbody>
        <tr>
            <td align="left" valign="top" style="font-size:14px;line-height:21px;font-weight:bold"> Panduan pembayaran Melalui MBanking: </td>
        </tr>
        <tr>
            <td valign="top" style="font-family:Helvetica,'Arial',sans-serif;color:#000000;font-size:11px">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td align="left" valign="top" style="font-size:12px;line-height:21px;">
                                <ul>
                                    <li>LANGKAH 1: MASUK KE AKUN ANDA 
                                        <ol>
                                            <li>Login akun Mobile Banking pada handphone anda</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 2: DETAIL PEMBAYARAN 
                                        <ol>
                                            <li>Pilih menu TRANSFER DANA → TRANSFER KE ANTAR BANK. Masukkan kode BANK SAHABAT SAMPOERNA yaitu 523 → Pilih YA</li>
                                            <li>Masukkan 16 digit nomor rekening virtual account <%= va_number %></li>
                                            <li>Masukkan nominal pembayaran</li>
                                            <li>Input token M-Banking anda</li>
                                        </ol>
                                    </li>
                                </ul>
                                <ul>
                                    <li>LANGKAH 3: TRANSAKSI BERHASIL 
                                        <ol>
                                            <li>Pembayaran melalui M-Banking sukses dilakukan</li>
                                        </ol>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
